//  @IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

// BASE STYLES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans';
}

:root {
	// Colors
	--clr-primary-bg: #ccbfaf;
	--clr-secondary: #f6efe4;
	--clr-accent: #374f2f;

	// Box-shadows
	--shadow-1: 0 4px 6px hsla(256, 100%, 9%, 0.1);
	--shadow-2: 4px 4px 0px hsla(0, 0%, 7%, 1);
	--shadow-3: 2px 2px 0px hsla(0, 0%, 7%, 1);

	//  Font Sizes
	--fs-100: 0.75rem;
	--fs-200: 1rem;
	--fs-300: 1.25rem;
	--fs-400: 1.5rem;
	--fs-500: 1.75rem;
	--fs-600: 2rem;
	--fs-700: 2.5rem;
	--fs-800: 3rem;
	--fs-900: 3.5rem;
	--fs-lg: 4.5rem;

	//Box-Shadows
	--bx-1: 4px 4px 0 rgba(0, 0, 0, 1);

	// Transitions
	--tr-1: all ease 0.5s;
	--tr-2: all ease 0.3s;
}

a {
	color: inherit;
}

body {
	max-width: 1240px;
	background-color: var(--clr-primary-bg);
	margin: 1rem 2rem;
	cursor: none;
}


// mixins
@mixin flex($x) {
	display: flex;
	justify-content: $x;
	align-items: center;
}

// Container
.container {
	width: 100%;
}

// buttons
.btn {
	padding: 0.75rem 1.5rem;
	border-radius: 5px;
	border: none;

	&__container {
		width: 100%;
		@include flex(center);
	}

	&__cta {
		margin-top: 2rem;
		padding: 1.5rem 2rem;
		font-size: 1.1rem;
		width: 65%;
		background-color: var(--clr-secondary);
	}

	&:hover {
		background-color: var(--clr-accent);
		color: var(--clr-secondary);
		transition: var(--tr-2);
	}
}

// HEADER STYLES

.header-logo {
	// margin: 0 auto;
	font-size: var(--fs-700);
	color: var(--clr-accent);
}

// NAVIGATION SPECIFIC STYLES
.nav {
	@include flex(space-between);
	padding-bottom: 1rem;
	border-bottom: 1px solid #000;

	&__list {
		@include flex(center);
		list-style: none;
		gap: 2rem;
	}

	&__link {
		text-decoration: none;
		color: var(--color-text);
		font-size: 15px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -6px;
			width: 0px;
			height: 1.5px;
			background-color: var(--clr-accent);
			transition: width 0.5s ease;
		}

		&--active::before {
			content: '';
			position: absolute;
			bottom: -6px;
			width: 45%;
			height: 2px;
			background-color: #0000009d;
		}

		// Link-Animation
		&:hover::before {
			width: 45%;
		}
	}
}

// FOOTER STYLES

footer {
	.footer {
		&__top {
			@include flex(space-between);
		}

		&__links {
			@include flex(justify);
			gap: 1rem;
		}
	}
}

@media (max-width: 745px) {
	.header-logo {
		margin: 0 auto;
	}
}

@media (max-width: 500px) {
	.header-logo {
		margin: 0 auto;
	}
	body {
		margin: 1rem 0.5rem;
	}
	footer {
		.footer {
			&__bottom {
				margin-top: 1rem;
				@include flex(center);
			}
		}
	}
}
